---
layout: default
title: Research Projects
---
<div class="jumbotron">
    <p>
        <b>ASERG@SHU</b> has a strong focus on applied software engineering research.
        It's members have a track record of industry and applied projects. 
    </p>
    <p>
    The group explores topics like: Software Development Process, Software Architecture,
    Business Processes, Service-orientation, Microservices and DevOps.
    </p>
    <p>
    The group has experience with the development of applications in the domains of:
    Smart Cities, Cloud computing, Internet of Things, Digital Identity Management and Access Control.
    </p>
    A list of the groups project can be found below.
</div>


<div class="card-columns">
    {% comment %}
    Sort the projects by date, putting those without dates last
    {% endcomment %}
    {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
    {% assign projects_by_date = projects_by_date | reverse %}
    {% for p in projects_by_date %}
        {% include project-card.html project=p %}
    {% endfor %}
</div>
